
.header{
  position: sticky;
  top: 0;
  background: ghostwhite;
  z-index: 100;
}

.searchbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  gap: 1rem;
}
.errBox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-weight: bold;
  color: red;
  background: rgba(255, 0, 0, 0.144);
  border-radius: 5px;
  margin: 1rem;
}
.emptyBox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: grey;
  background: gainsboro;
  border-radius: 5px;
  margin: 1rem;
}
.paginationBar{
  display: flex;
  align-items: center;
  padding: 0.2rem;
  justify-content: center;
  gap: 1rem;
}
.movieGroup{
  padding: 2rem;
  &__items{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.groupDivider{
  display: flex;
  align-items: center;
  color: rgb(57, 57, 61);
  strong {
    padding: 0 1rem 0 0.2rem;
  }
  mat-divider {
    flex: 1;
  }
}

@media (max-width:801px)  {
  .searchbar{
    flex-direction: column;
    padding: 1rem;
    gap: 0;
    .filter,.search{
      width: 100%;
    }
  }

}
