


<div class="header">
  @if (movieFacade.$loading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <div class="searchbar">
    <app-search class="search"(searchChanged)="onSearchChanged($event)" />
    <mat-form-field class="filter">
      <mat-label>Type</mat-label>
      <mat-select [ngModel]="searchParam().type" (selectionChange)="onTypeChanged($event)">
        @for (type of movieTypes; track type) {
          <mat-option [value]="type">{{type}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @if (movieFacade.$totalPages(); as total){
    <div class="paginationBar">
        <small> {{searchParam().page}} / {{ total}} </small>
        <button [disabled]="searchParam().page <= 1" (click)="onPrev()" mat-button>Prev Page</button>
        <button [disabled]="searchParam().page >= total" (click)="onNext()" mat-button>Next Page</button>
    </div>
  }
</div>

@if (movieFacade.$err()) {
  <div class="errBox">{{movieFacade.$err()}}</div>
}

<div class="moviesWrapper">
    @for (movieMap of ( movieFacade.$movies() | keyvalue) ; track $index) {
      <div class="movieGroup">
        <div class="groupDivider">
          <mat-icon>event</mat-icon>
          <strong>{{movieMap.key}}</strong>
          <mat-divider></mat-divider>
        </div>

        <div class="movieGroup__items">
          @for (movie of movieMap.value ; track $index) {
            <app-movie-card [movie]="movie" />
          }
        </div>
      </div>
    } @empty {
      <div class="emptyBox">Search movies ...</div>
    }
</div>


